<<<<<<< HEAD
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiaire: #99E2D0;
$background: rgb(248, 248, 248);
=======
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiaire: #99E2D0;
$background: rgb(248, 248, 248);
>>>>>>> 1041cf8689ec35cae07c9da9d8ca3210427841f5
